.deco1 {
    background-image: url('../assets/abstract/ab3.png'), url('../assets/abstract/ab4-rotated.png');
    background-position: 5% 10%, 90% 80%;
    background-repeat: no-repeat;
}

.servives-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    padding: 40px;
    background-image: url('../assets/abstract/ab1.png');
    background-position: 5% 100%;
    background-repeat: no-repeat;
}

.service-elemenet-text {
    text-align: center;
}

.service-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 40px;
}

.service-element>.material-symbols-outlined {
    transform: scale(1.5);
    color: rgb(84, 84, 212);
    padding: 18px;
    margin: 24px;
    background-color: rgba(84, 84, 212, 0.1);
    border-radius: 100%;
}

.servie-element-title {
    margin: 8px;
    text-align: center;
    font-size: 21px;
}

.service-element:nth-child(1)>span,
.service-element:nth-child(5)>span {
    color: #5454D4;
    background-color: rgba(84, 84, 212, 0.1);
    /* Red */
}

.service-element:nth-child(2)>span,
.service-element:nth-child(6)>span {
    color: #F04037;
    background-color: rgba(240, 64, 55, 0.1);
    /* Green */
}

.service-element:nth-child(3)>span,
.service-element:nth-child(4)>span {
    color: #FEDC5A;
    background-color: rgba(254, 220, 90, 0.1)
        /* Blue */
}


@media only screen and (max-width: 1017px) {

    .display-illustration>img {
        max-height: 500px !important;
    }

    .servie-element-title {
        display: inline-block;
        text-align: center;
        font-size: 17px;
    }
}


@media only screen and (max-width: 816px) {
    .display-illustration>img {
        max-height: 450px !important;
    }
}

@media only screen and (max-width: 680px) {
    .display-illustration>img {
        margin-top: 30px;
        max-height: 400px !important;
    }
}

@media only screen and (max-width: 657px) {

    .servives-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr)) !important;
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
        padding: 0px;
        width: 100%;
        max-width: 1280px;
    }
}