* {
  margin: 0;
  color: #fdfdfd;
}

body {
  background-color: #19191b;
  background-image: url(assets/rect-colorful.png);
  background-repeat: no-repeat;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 28px;
}
header > nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
}
header > button {
  border: #fdfdfd 1px solid;
  background-color: transparent;
  padding: 16px 24px;
  border-radius: 5px;
}
header > img {
  width: 8rem;
}
a {
  text-decoration: none;
}
a::before {
  color: rgba(255, 255, 255, 0.7);
}

.cover {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 56px;
}
.display-text > h1 {
  width: 65%;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 36px;
}
.display-text > p {
  width: 65%;
  color: rgba(255, 255, 255, 0.7);
  font-size: 21px;
  margin-bottom: 36px;
}
.display-text > a {
  padding: 18px 24px;
  border-radius: 4px;
  background: #5454d4;
}

/* scroll bar */
/* Track */
::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
